{# contact.html.twig #}
{% extends 'layout.html.twig' %}
{% block title %}
    {{ parent() }} - les produits !
{% endblock %}
{% block content %}
{%block body%}
    {% for product in products %}
       <p>{{ product }}</p>
    {% endfor %}
{%endblock%}

{{dump(products)}}
{% endblock %}